In [3]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple
K=["kingshuk",[1,5,9],2.75389,(1,4,6)]
type(K[0])
# for i in K:
#   print(i,":  " ,type(i))

str

In [4]:
type(K[1])

list

In [5]:
type(K[2])

float

In [6]:
type(K[3])

tuple

In [7]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
#What will be the data type of the above given variable.


A='pwskills'                # Here A is a "string type variable"
B='[DS,ML,Python]'          # Here B is a "string type variable"
C=['DS','ML','Python']      # Here C is a "list type variable"
D=1.                        # Here D is a "float type variable"
for i in (A,B,C,D):
  print(f"Data_type of {i} is {type(i)}")

Data_type of pwskills is <class 'str'>
Data_type of [DS,ML,Python] is <class 'str'>
Data_type of ['DS', 'ML', 'Python'] is <class 'list'>
Data_type of 1.0 is <class 'float'>

In [8]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **
a=10
b=5
a/b     # a Division b

2.0

In [9]:
p=50
q=5
p%q     # p Modulus q

0

In [10]:
p=20
q=5
p//q    # p Floor division q

4

In [11]:
j=5
k=2
j**k    # j to the power k

25

In [12]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
l=["pwskills",[1,212,556],(1,5,6),False,2.5656,6+3j,{"name" : "John", "age" : 36},{"apple", "banana", "cherry"},1947,None]
for i in l:
  print(i," :    ",type(i))

pwskills  :     <class 'str'>
[1, 212, 556]  :     <class 'list'>
(1, 5, 6)  :     <class 'tuple'>
False  :     <class 'bool'>
2.5656  :     <class 'float'>
(6+3j)  :     <class 'complex'>
{'name': 'John', 'age': 36}  :     <class 'dict'>
{'apple', 'cherry', 'banana'}  :     <class 'set'>
1947  :     <class 'int'>
None  :     <class 'NoneType'>

In [13]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=int(input("enter your number: "))
b=int(input("enter your number: "))
count=0
if a%b==0:
  while a>=b and a%b==0:
      count+=1
      a=a/b
  print(f"divisible {count} times")    
else:
  print("not divisible")

enter your number: 20
enter your number: 4
divisible 1 times

In [14]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
l1=[]
for i in range(1,26):
  l1.append(i)
print(l1)
for j in l1:
  if j%3==0:
    print(j,"is devisible by 3")
  else :
    print(j,"is not-divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 is not-divisible by 3
2 is not-divisible by 3
3 is devisible by 3
4 is not-divisible by 3
5 is not-divisible by 3
6 is devisible by 3
7 is not-divisible by 3
8 is not-divisible by 3
9 is devisible by 3
10 is not-divisible by 3
11 is not-divisible by 3
12 is devisible by 3
13 is not-divisible by 3
14 is not-divisible by 3
15 is devisible by 3
16 is not-divisible by 3
17 is not-divisible by 3
18 is devisible by 3
19 is not-divisible by 3
20 is not-divisible by 3
21 is devisible by 3
22 is not-divisible by 3
23 is not-divisible by 3
24 is devisible by 3
25 is not-divisible by 3

In [15]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
r=["kingshuk","pwskills"]       
r[0]='roy'        
print(r)
                          # Here 'r' is an list, so 'r' is a mutable data type
                          # we can change index's of list(r)

['roy', 'pwskills']

In [16]:
p=("apple", "banana", "cherry")
p[0]="pitch"              # Here yje error occure because 'p' is a tuple and tupple is immutable data type
p                          # we cann't change index's of list(p)

TypeError: ignored